h1,h2,h3,h4,h5,h6{

    font-family:$heading-font;
    line-height:.9;
}

p{
    font-family: $body-font;
    font-size: 18px;
	font-weight: 500;
	// line-height: 38px;
	margin-bottom: 24px;
	// max-width: 700px;
}

.display-l{

    font-size: 9rem;
}

.emphasis{

    color: lighten($color: white, $amount: 10%)
}

