//font
$serif: "Ikaros Sans Light",
'sans-serif';
$serif-2:'Montserrat ExtraBold','sans-serif';
$serif-3:'Montserrat SemiBold','sans-serif';
$serif-4:'quicksand','sans-serif';

$sans-serif:'Merriweather','serif';

$heading-font: $serif-2;
$body-font:$sans-serif;


$light:300;
$bold:400;
$bolder:500;


$base-color:#212529;
$base-color-2:#FC814A;

$white:white;
$orange:#FF8465;


$fs-l:1.6rem;
$fs-mini-h:1.7rem;


